.container {
  position: relative;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.container .clouds {
  position: "absolute";
  top: 0;
  left: 0;
  width: 100%;
  height: 100;
  overflow: hidden;
  pointer-events: none;
  --i: 1;
}
.clouds img {
  position: absolute;
  bottom: 0%;
  max-width: 100%;
  animation: animate calc(3s * var(--i)) linear infinite;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes animate {
  0% {
    opacity: 0%;
    transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
