.AppBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}
li {
  font-weight: bold;
}
.navbar {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
}
