.searchForm {
  position: absolute;
  top: 10%;
}
.searchField {
  width: 100%;
  line-height: 2em;
  border: none;
  margin-bottom: 1em;
}
.searchButton {
  position: relative;
  margin: "0 auto";
}
h1 {
  text-align: center;
  font-family: "Open Sans";
  font-weight: 500;
}
